<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: black;
    min-height: 100vh;
}

/* ================= NAVBAR ================= */

nav {
    background: white;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00c853;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00c853;
}

.search-bar {
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
}
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background:#00c853;
}

.contact-container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.contact-container p {
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: green;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: darkgreen;
}

.form-message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
/* * ================= FOOTER ================= */ 
=======
.map{
margin-top:30px;
border-radius:10px;
overflow:hidden;
}

.contact-info{
margin-bottom:20px;
line-height:1.8;
}
>>>>>>> e61e8fd (images changes)
